


#ensemble { 

	display: flex; 
	flex-direction: column; 
	border : 1px solid lightgrey;
	margin-left: 60px;
	min-width: 100px; 
	max-width: 940px; 
 }



 .row { 

 	justify-content: space-around;
    font-family: 'Lato', sans-serif;
    display: flex; 
    flex-direction: row;
  	border-left: solid 0px lightgrey;
  	text-align: center; 

 


 }

.checkRow{
	justify-content: space-around;
    font-family: 'Lato', sans-serif;
    display: flex; 
    flex-direction: row;
  	border-left: solid 0px lightgrey;
  	text-align: center; 
  

}
.elementInterieur { 

 	justify-content: space-around;
    font-family: 'Lato', sans-serif;
    display: flex; 
    flex-direction: column;
  	border-left: solid 1px lightgrey;	
  	padding: 20px; 
  	text-align: center; 
  	border-bottom: solid 1px lightgrey; 



 }

.tickBox1{
	justify-content: space-around;
    font-family: 'Lato', sans-serif;
    display: flex; 
    flex-direction: row;
  	border-left: solid 1px lightgrey;	
  	padding: 20px; 
  	text-align: center; 
  	border-bottom: solid 1px lightgrey; 
  	min-width: 41px; 


}


.mh { 
 	  
 	justify-content: space-around;
 	color: grey; 
 	text-align: center; 
}

.jourN{

	font-size : xx-large;  
	justify-content: space-around;
	text-align: center;
}

.jourL{ 

	
	justify-content: space-around;
	text-align: center; 
	color: grey ;
	font-weight: bold;  

}


.numeroTick2{

	color :lightblue;
	font-size: large; 
}













/* font-family: 'Lato', sans-serif; */